.btn {
    margin-right: 5px;
}

.markedAsDone {
    text-decoration: line-through;
    color: #777;
}

.tableActions {
    width: 20%;
}

.todoForm {
    padding-bottom: 60px;
}

.text-white {
    color: white;
}

.small_page_haeader {
    color: #a2a3a2;
    font-size: 75%;
}